<!DOCTYPE html>
<html>
    <body>
        <p>Perjanjian Pinjaman ini ("Perjanjian") dibuat pada {{.Date}} ("Tanggal Efektif"), oleh dan antara Amartha, dengan alamat Jakarta ("Pemberi Pinjaman") dan {{.BorrowerName}}, dengan alamat {{.BorrowerAddress}}, ("Peminjam"), masing-masing disebut sebagai "Pihak", dan secara kolektif disebut sebagai "Para Pihak."<br>
        BAHWA, Peminjam ingin meminjam sejumlah uang tertentu; dan <br>
        BAHWA, Pemberi Pinjaman setuju untuk meminjamkan sejumlah uang tertentu;<br>
        DENGAN MEMPERTIMBANGKAN janji-janji, perjanjian-perjanjian, dan ketentuan-ketentuan bersama yang tercantum dalam Perjanjian ini, Para Pihak sepakat sebagai berikut:<br>
        Jumlah Pinjaman. Para Pihak sepakat bahwa Pemberi Pinjaman akan meminjamkan kepada Peminjam sebesar Rp{{.PrincipalAmount}} ("Pinjaman").<br>
        Suku Bunga. Para Pihak sepakat bahwa Suku Bunga untuk pinjaman ini adalah {{.Rate}}% yang akan diangsur setiap bulan.<br>
        Waktu Pinjaman. Pinjaman ini berlaku untuk jangka waktu 1 tahun/bulan.<br>
        Pembayaran Terlambat. Pembayaran dianggap terlambat jika diterima oleh Pemberi Pinjaman 1 hari setelah tanggal jatuh tempo. Pemberi Pinjaman akan memiliki pilihan untuk mengenakan biaya keterlambatan sebesar 2%.<br>
        Gagal Bayar. Jika Peminjam gagal membayar dan gagal memperbaiki kegagalan tersebut dalam jangka waktu yang wajar, Pemberi Pinjaman akan memiliki opsi untuk menyatakan seluruh sisa pokok dan bunga yang masih harus dibayar segera jatuh tempo dan wajib dibayarkan.<br>
        Pelunasan lebih awal. Peminjam tidak akan dikenakan penalti atas pelunasan lebih awal.<br>
        Pernyataan dan Jaminan. Kedua Pihak menyatakan bahwa mereka sepenuhnya berwenang untuk menandatangani Perjanjian ini. Pelaksanaan dan kewajiban salah satu Pihak tidak akan melanggar atau melanggar hak pihak ketiga mana pun atau melanggar perjanjian lain antara Para Pihak, secara individu, dan orang, organisasi, atau bisnis lain atau hukum atau peraturan pemerintah apa pun.<br>
        Keterpisahan. Jika ada ketentuan dalam Perjanjian ini yang dianggap tidak sah atau tidak dapat diberlakukan, baik sebagian maupun seluruhnya, bagian tersebut akan dipisahkan dari sisa Perjanjian dan semua ketentuan lainnya akan tetap berlaku penuh dan efektif sebagai ketentuan yang sah dan dapat diberlakukan.<br>
        Pengabaian. Kegagalan salah satu pihak untuk melaksanakan hak, kekuasaan, atau hak istimewa apa pun berdasarkan ketentuan Perjanjian ini tidak akan ditafsirkan sebagai pengabaian terhadap pelaksanaan hak, kekuasaan, atau hak istimewa tersebut selanjutnya atau di masa mendatang, atau pelaksanaan hak, kekuasaan, atau hak istimewa lainnya.<br>
        Biaya Hukum. Jika terjadi perselisihan yang berujung pada tindakan hukum, Pihak yang menang akan berhak atas biaya hukumnya, termasuk, tetapi tidak terbatas pada biaya pengacaranya.<br>
        Perjanjian yang Sah dan Mengikat. Perjanjian ini sah dan mengikat antara Para Pihak sebagaimana dinyatakan di atas. Perjanjian ini dapat dibuat dan sah dan mengikat baik di Amerika Serikat maupun di seluruh Eropa. Para Pihak masing-masing menyatakan bahwa mereka memiliki kewenangan untuk membuat Perjanjian ini.<br>
        Hukum dan Yurisdiksi yang Mengatur. Para Pihak sepakat bahwa Perjanjian ini akan diatur oleh Negara Bagian dan/atau Negara tempat kedua Pihak bertempat tinggal/berbisnis. Jika Para Pihak bertempat tinggal/berbisnis di Negara Bagian dan/atau Negara yang berbeda, Perjanjian ini akan diatur oleh hukum.<br>
        Keseluruhan Perjanjian. Para Pihak mengakui dan setuju bahwa Perjanjian ini merupakan keseluruhan perjanjian antara Para Pihak. Jika Para Pihak ingin mengubah, menambah, atau memodifikasi ketentuan apa pun, mereka harus melakukannya secara tertulis yang ditandatangani oleh kedua belah pihak.<br>
        Para Pihak sepakat terhadap syarat dan ketentuan yang ditetapkan di atas sebagaimana dibuktikan dengan tanda tangan mereka sebagai berikut:<br><br>
        Pemberi pinjaman<br>
        Ditandatangani: _____________________________________<br>
        Nama: {{.Admin}}<br>
        Tanggal: _____________________________________<br><br>

        Peminjam<br>
        Ditandatangani: _____________________________________<br>
        Nama: {{.BorrowerName}}<br>
        Tanggal: _____________________________________
    </body>
</html>